<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>test</title>
</head>
<body style="font-family: 'Raleway',sans-serif; background-color: #eceff1">
<div class="navbar navbar-light" style="background-color:#64b5f6;">

    <a class="navbar-brand" href="/"><strong>URDb</strong></a>
    <div class="navbar-text">The information for all binge-worthy content</div>
    <form action="/search"  class="form-inline " method="GET">
        <input type="search" class="form-control mr-sm-2" id="mvtitle" name="title" placeholder="Search for a Movie..">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Submit">Search</button>
    </form>
</div>